Repository Syxarikk/raspr: changes, and which pre-commit hooks are due for each by the changed paths.
All: api-pytest, api-client-generated, admin-lint, admin-typecheck, admin-test, miniapp-lint, miniapp-typecheck, miniapp-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        additional_dependencies:
          - sqlalchemy
          - fastapi
          - pydantic
          - pydantic-settings
          - python-jose
          - passlib[bcrypt]
  - repo: local
    hooks:
      - id: api-pytest
        name: API pytest
        entry: pytest apps/api/tests_smoke.py apps/api/tests_business.py apps/api/tests_integration.py
        language: system
        pass_filenames: false
        files: ^apps/api/
      - id: api-client-generated
        name: API client generated types
        entry: npm --prefix packages/api-client run check:generated
        language: system
        pass_filenames: false
        files: ^(apps/api/|packages/api-client/)
      - id: admin-lint
        name: Admin lint
        entry: npm --prefix apps/admin run lint
        language: system
        pass_filenames: false
        files: ^apps/admin/
      - id: admin-typecheck
        name: Admin typecheck
        entry: npm --prefix apps/admin run typecheck
        language: system
        pass_filenames: false
        files: ^apps/admin/
      - id: admin-test
        name: Admin tests
        entry: npm --prefix apps/admin run test
        language: system
        pass_filenames: false
        files: ^apps/admin/
      - id: miniapp-lint
        name: Miniapp lint
        entry: npm --prefix apps/miniapp run lint
        language: system
        pass_filenames: false
        files: ^apps/miniapp/
      - id: miniapp-typecheck
        name: Miniapp typecheck
        entry: npm --prefix apps/miniapp run typecheck
        language: system
        pass_filenames: false
        files: ^apps/miniapp/
      - id: miniapp-test
        name: Miniapp tests
        entry: npm --prefix apps/miniapp run test
        language: system
        pass_filenames: false
        files: ^apps/miniapp/
      - id: standalone-e2e
        name: Standalone e2e (manual)
        entry: npm --prefix tests/e2e test
        language: system
        pass_filenames: false
        stages: [manual]

chore(prod): switch to single-domain routing for rasprostranitel.syxarik.ru
  .env.example
  .env.prod
  README.md
  docker-compose.prod.yml
  docker/caddy/Caddyfile
  docs/ops/rollout-runbook.md
Due: none

chore(prod): fill .env.prod secrets and host config
  .env.prod
Due: none

fix(api): use DATABASE_URL for alembic and make sh entrypoint portable
  apps/api/alembic/env.py
  apps/api/entrypoint.sh
Due: api-pytest, api-client-generated

feat(admin): design refactoring — sidebar collapse, photo viewer, inline edit mode
  apps/admin/src/app/AdminApp.tsx
  apps/admin/src/app/components/common.tsx
  apps/admin/src/app/views/OrdersView.tsx
  apps/admin/src/styles.css
Due: admin-lint, admin-typecheck, admin-test

fix(docker): use root build context so shared packages/api-client is accessible
  .dockerignore
  apps/admin/Dockerfile.prod
  apps/miniapp/Dockerfile.prod
  docker-compose.prod.yml
Due: admin-lint, admin-typecheck, admin-test, miniapp-lint, miniapp-typecheck, miniapp-test

fix(infra): remove Caddy, expose services to localhost for host nginx
  docker-compose.prod.yml
Due: none

fix(deploy): set Vite base path for subdirectory routing
  apps/admin/Dockerfile.prod
  apps/admin/vite.config.ts
  apps/miniapp/Dockerfile.prod
  apps/miniapp/vite.config.ts
Due: admin-lint, admin-typecheck, admin-test, miniapp-lint, miniapp-typecheck, miniapp-test

feat: restyle standalone frontend to match admin light theme + fix admin map
  apps/admin/src/main.tsx
  frontend/app.js
  frontend/index.html
  frontend/styles.css
Due: admin-lint, admin-typecheck, admin-test
